.site-header {
  &__title {
    text-align: center;

    @mixin atMedium {
      padding-left: 20px;
      float: left;
    }
  }

  &__header--menu-icon {
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
    top: 25px;
    right: 20px;

    @mixin atMedium {
      display: none;
    }
  }

  &__primary-nav {
    display: none;

    @mixin atMedium {
      display: block;
      float: right;
      padding-right: 20px;
      transform: translateY(15%);
    }
  }

  li {
    list-style: none;
    display: inline-block;
  }

  li:after {
    content: " |";
  }

  li:last-child:after {
    content: "";
  }

  a {
    text-decoration: none;
    color: $mainBlue;
    font-size: 1.5rem;
  }

}
