.site-header {

li {
    list-style: none;
    display: inline-block;
  }

  li:after {
      content: " |";
  }

  li:last-child:after {
      content: "";
  }

  a {
      text-decoration: none;
      color: $mainBlue;
  }

 @mixin atSmall {
     &__title {
         padding-left: 20px;
         float: left;
     }

     &__primary-nav {
         font-size: 1.25rem;
     }

 }

  @mixin atMedium {
    &__title {
        padding-left: 20px;
        float: left;
    }
    
    &__primary-nav {
        float: right;
        padding-right: 20px;
        transform: translateY(15%);
    }

    a {
        font-size: 1.5rem;
    }
  }

}
